In [48]:
import pandas as pd

In [49]:
df = pd.read_csv('Datasets/Gapminder.csv', error_bad_lines=False, sep=';')

In [51]:
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [53]:
df = df.rename(columns={'country':'PAÍS', 'continent':'CONTINENTE', 'year': 'ANO', 'lifeExp':'EXPECTATIVA DE VIDA', 'pop':'POP TOTAL', 'gdpPercap':'PIB'})

In [54]:
df.head(7)

          PAÍS CONTINENTE   ANO  EXPECTATIVA DE VIDA  POP TOTAL         PIB
0  Afghanistan       Asia  1952               28.801    8425333  779.445314
1  Afghanistan       Asia  1957               30.332    9240934  820.853030
2  Afghanistan       Asia  1962               31.997   10267083  853.100710
3  Afghanistan       Asia  1967               34.020   11537966  836.197138
4  Afghanistan       Asia  1972               36.088   13079460  739.981106
5  Afghanistan       Asia  1977               38.438   14880372  786.113360
6  Afghanistan       Asia  1982               39.854   12881816  978.011439

In [55]:
df.shape

(3312, 6)

In [56]:
df.columns

Index(['PAÍS', 'CONTINENTE', 'ANO', 'EXPECTATIVA DE VIDA', 'POP TOTAL', 'PIB'], dtype='object')

In [57]:
df.dtypes

PAÍS                    object
CONTINENTE              object
ANO                      int64
EXPECTATIVA DE VIDA    float64
POP TOTAL                int64
PIB                    float64
dtype: object

In [58]:
df.describe()

               ANO  EXPECTATIVA DE VIDA     POP TOTAL            PIB
count  3312.000000          3312.000000  3.312000e+03    3312.000000
mean   1980.301630            65.246871  3.161489e+07   11317.115805
std      16.927294            11.768412  1.041193e+08   11369.142739
min    1950.000000            23.599000  5.941200e+04     241.165876
25%    1967.000000            58.337500  2.678572e+06    2514.625266
50%    1982.000000            69.610000  7.557218e+06    7838.505123
75%    1996.000000            73.657750  1.958522e+07   17357.879170
max    2007.000000            82.670000  1.318683e+09  113523.132900

In [59]:
df['CONTINENTE'].unique()

array(['Asia', 'Europe', 'Africa', 'Americas', nan, 'FSU', 'Oceania'],
      dtype=object)

In [60]:
df.head()

          PAÍS CONTINENTE   ANO  EXPECTATIVA DE VIDA  POP TOTAL         PIB
0  Afghanistan       Asia  1952               28.801    8425333  779.445314
1  Afghanistan       Asia  1957               30.332    9240934  820.853030
2  Afghanistan       Asia  1962               31.997   10267083  853.100710
3  Afghanistan       Asia  1967               34.020   11537966  836.197138
4  Afghanistan       Asia  1972               36.088   13079460  739.981106

In [61]:
df.groupby('CONTINENTE')['PAÍS'].unique()

CONTINENTE
Africa      [Algeria, Angola, Benin, Botswana, Burkina Fas...
Americas    [Argentina, Bolivia, Brazil, Chile, Colombia, ...
Asia        [Afghanistan, Azerbaijan, Bahrain, Bangladesh,...
Europe      [Albania, Austria, Belgium, Bosnia and Herzego...
FSU         [Belarus, Kazakhstan, Latvia, Lithuania, Russi...
Oceania                  [Fiji, New Zealand, Solomon Islands]
Name: PAÍS, dtype: object

In [62]:
df.groupby('CONTINENTE')['PAÍS'].nunique().Americas

25